.navbar {
    background-color: white;

    a {}
}

.nav-item {
    margin: 0px 0.5rem 0px 0.5rem;
}

.nav-link {
    padding-right: 0px;
    padding-left: 0px;
    &:hover {
        border-top: 2px solid orange;
        margin-top: -2px;
    }
}

.nav-link.active {
    border-top: 2px solid orange;
    margin-top: -2px;
}

.home {
    background-color: black;
    background: url("../css/img/img.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.about {
    background-color: #00c4c4;
}


.ourservice {
    background-color: #70bfff;
    .our {
        background: url("../css/img/img3.png") no-repeat 35%;
        background-size: contain;
    }
    .min {
        min-height: 690px;

    }
    ul {
        width: 80%;
        margin-top: auto;
        margin-bottom: auto;
        padding-left: 0px;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 20px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            height: 100px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
        }
    }
}

.iconserv {
    min-height: 100%;
    border-left: 1px solid gray;
}

.gallery {
    background-color: #ffe92f;
}

.subscribe {
    min-height: 500px;
    background: url("../css/img/img4.jpg") no-repeat;
    background-size: 100% 100%;
    .form-control-sub {
        padding: 5px;
        border: 1px solid black;
        &::placeholder {
            padding: 5px;
        }
    }
}

.card {
    height: 310px;
    width: 100%;
}

.card-img1 {
    background: url("../css/img/blog1.jpg") no-repeat center;
    background-size: auto;
}

.card-img2 {
    background: url("../css/img/blog2.jpg") no-repeat 75% 95%;
    background-size: auto;
}

.card-img3 {
    background: url("../css/img/blog3.jpg") no-repeat center;
    background-size: auto;
}

.blog {
    background-color: #b07cf7;
}

.form {
    background: url("../css/img/img5.jpg") no-repeat fixed;
    background-size: cover;
}

footer {
    background-color: #262626;
    color: white;
    padding: 1rem;
}

.list-group-item {
    border: none;
    background: none;
    height: auto;
    padding: 0;
}

.form-control {
    border-radius: 0;
    background-color: green;
    border: none;
    background-color: #00c4c4;
    resize: none;
    opacity: 0.4;
    &::placeholder {
        color: white;
    }
    &:hover {
        opacity: 0.7;
    }
    &:focus {
        opacity: 1;
        background-color: #00c4c4;
        border: none;
        border-left: 5px solid #355b82;
        color: white;
        outline: 0;
        box-shadow: none;
    }

}

.love {
    color: red;
}

textarea {
    height: 200px;
}

.gallery {
    img {
        margin: 33px 0 0 0;
    }
}


@media only screen and (max-width: 600px) {
    .subscribe {
        background-position: 65%;
        background-size: initial;
    }
    .text-left,
    .text-right {
        text-align: center !important;
    }
    

    
    .iconserv {
        width: 35%;
    }

    
    

.ourservice {
    .min {
        min-height: 450px;
    }
    ul {
        width: 100%;

        li {
            width: 100%;
            height: 80px;

        }
    }
}
}
